

.user_panel-user_pic, .user_panel-user_pic:active, .user_panel-user_pic:hover, .user_panel-user_pic:focus, .user_panel-user_pic:hover:active, .user_panel-user_pic:active:focus {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none !important;
    outline: medium none !important;
    padding: 10px 0;
}

.user_panel-user_pic img {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	box-sizing: border-box;
	display: block;
}

